@import 'app.scss';
.options{
    &:hover{
        background-color: $gray-100;
    }
}

.actions{
    color: $gray-600;
    font-weight: 400;
    &:hover{
        background-color: $gray-100;
        color: $black;
    }
}

.edit{
    &:hover{
        color: $warning;
    }
}

.delete{
    &:hover{
        color: $danger;
    }
}
